{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="dashboard-section">

<h3>User Actions</h3>

<a href="/articles/">View Articles</a><br>
<a href="/articles/subscribed/">View Subscribed Articles</a>

</div>

{% if role == "journalist" %}

<div class="dashboard-section">

<h3>Journalist Actions</h3>

<a href="/create-article/">Create Article</a>

</div>

{% endif %}

{% if role == "editor" %}

<div class="dashboard-section">

<h3>Editor Actions</h3>

<a href="/approve-articles/">Approve Articles</a>

</div>

{% endif %}

{% endblock %}