{% extends "base.html" %}

{% block content %}
<h2>Approve Articles</h2>

<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.author.username }}</td>
            <td>
                <button type="submit" name="action" value="approve" formaction="?article_id={{ article.id }}">Approve</button>
                <button type="submit" name="action" value="decline" formaction="?article_id={{ article.id }}">Decline</button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No articles to approve</td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}